<html>

<head>
    <link rel="stylesheet" type="text/css" href="main.css">

</head>

<body>
    <div>
        <img src="logo.jpg">
    </div>
    <h1> All Tasks</h1>

    <div>
        <h3><a href="/">Home</a></h3>
    </div>
    <div>
        <h3><a href="deleteTask">Delete Tasks</a></h3>
    </div>
    <div>
        <h3><a href="updateTask">Update A Task</a></h3>
    </div>
    <div>
        <h3><a href="newTask">Add Tasks</a></h3>
    </div>
    </br>
    <table>
        <tr>
            <td>Task ID</td>
            <td>Task Name</td>
            <td>Assigned To</td>
            <td>Due Date</td>
            <td>Task Status</td>
            <td>Description</td>
        </tr>
        <% for ( var i=0; i < db.length;i++){ %>
        <tr>
            <td>
                <%= db[i]._id %>
            </td>
            <td>
                <%= db[i].name %>
            </td>
            <td>
                <%= db[i].assignee %>
            </td>
            <td>
                <%= db[i].dueDate %>
            </td>
            <td>
                <%= db[i].status %>
            </td>
            <td>
                <%= db[i].desc %>
            </td>
        </tr>
        <% }%>
</body>

</html>